@model AGC_CHURCH.Models.Branches

<div class="row">
    <div class=" col-xl-4 col-lg-4 col-md-1 col-sm-1  " style="padding-left:24px;padding-right:24px"></div>
    <div class="col-xl-4 col-lg-4 col-md-10 col-sm-10 col-12 ">
        <div style="margin:24px;text-align:center; border-radius:8px;background-color:white; padding:8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) ">
            <div style="margin:8px">
                <div>
                    <img src="~/Icons/icons8-high-risk-40.png" />
                </div>
                <div style="text-align:center;font-size:large">Are you sure you want to remove this Branch ?</div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="id" />
                    <div style=" margin:24px;">
                        <div style="padding-top:20px;">
                            <input style="width:100%;background-color:orangered;color:white;text-decoration:solid; box-shadow: 0 4px 8px 0 rgba(0,0,0.1,0.1);" class="btn " type="submit" value="Remove Branch" />
                        </div>
                    </div>
                </form>
                <div style=" margin:24px;">
                    <div style="padding-top:8px;">
                        <a asp-action="Index" asp-controller="Home" style="width:100%;background-color:forestgreen;color:white;text-decoration:solid; box-shadow: 0 4px 8px 0 rgba(0,0,0.1,0.1);" class="btn ">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-1 col-sm-1  "></div>
</div>